/* *{
  margin: 2px;
  padding: 5xp;
  box-sizing: border-box;
} */
.button{
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  padding: 5px;
  margin: 2px;
}
.clear{
  background-color: red;
}
.clear:hover{
  background-color: #fff;
}
.operator{
  background-color: #ff0;
}